# Notebook

This file is a Jupyter notebook, a webpage running `Python` with which you can interact. We will see later how to write code in a file and execute it. 

The notebooks contains text cells like the one you are reading and code cells like the one below, that can be executed.

In [1]:
1+1

2

To execute a code cell, press `Shift` then `Enter`. Try executing the one above.

# Python syntax

## Basic types

Multiple data types are already in `Python` by default. Here is a few of them, we will introduce more advanced types as we need them.

- We have integers

In [9]:
3

3

- Real number represented using floating-point numbers

In [10]:
0.125

0.125

- Character strings

In [11]:
"Hello!"

'Hello!'

- Booleans

In [12]:
True

True

In [13]:
False

False

## Variables

Like most languages, `Python` use variable to store the result of operations. A variable can be created using the following syntax.

In [2]:
a = 5
b = 2

`Python` is a dynamically typed language, which means that when we created these variables, we did not have to precise that they represented integer values.

We can then print the value of a variable using the `print` function as follows.

In [3]:
print(a)
print(b)
print(a, b)

5
2
5 2

Variables can also be modified after creation.

In [4]:
print(a)
a = 3
print(a)

5
3

The main use of variables is to store the result of computations.

In [5]:
print(a, b)
c = a + b
print(c)

3 2
5

## Advanced types

### Lists

To represent sequences of objects, `Python` provides the `list` type. It is equivalent to both arrays and lists in other programming languages.

In [16]:
l1 = [1, 2, 3]
print(l1)
l2 = [1.1, 1.2, 1.3]
print(l2)
l3 = ["How", "are", "you"]
print(l3)

[1, 2, 3]
[1.1, 1.2, 1.3]
['How', 'are', 'you']

As opposed to most languages, `Python` does not impose that all the elements of a list should have the same type.

In [17]:
[7, 9.2, "fox", False]

[7, 9.2, 'fox', False]

Once you have a list, you can access to its elements using the `[]` operator. Indices are starting at 0.

In [24]:
l = [0.5, "octopus", True, -18, 5]
print(l[0])
print(l[1])
print(l[2])
l[0] = 22
print(l[0])
print(l)

0.5
octopus
True
22
[22, 'octopus', True, -18, 5]

The length of a list is obtained using the `len` function.

In [20]:
print(len(l))

5

Python also allows to use negative indices to access elements at the end of the list. `-1` is the index of the last element, `-2` the index of the next-to-last one.

In [21]:
l = [1,2,3,4,5,6]
print(l[-1])
print(l[-2])
print(l[-3])

6
5
4

It is possible to add and remove elements in a list using the `append` and `remove` methods. These methods modify the list in-place. `remove` deletes only the first occurence of the value in the sequence.

In [23]:
l = [1,2,3,4,5,6]
print(l)
l.append(3)
print(l)
l.remove(3)
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 3]
[1, 2, 4, 5, 6, 3]

Lists can also be concatenated using the `+` operator.

In [35]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
print(l1, l2)
l3 = l1 + l2
print(l3)

[1, 2, 3] [4, 5, 6]
[1, 2, 3, 4, 5, 6]

Lists can also be extended in-place.

In [36]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6]

### Tuples

Tuples are very similar to lists except that they cannot be modified.

In [34]:
t = (1, 2, 3)
print(t)
l = [1, 2, 3]
t = tuple(l)
print(t)

(1, 2, 3)
(1, 2, 3)

In [26]:
t[0] = 22

TypeError: 'tuple' object does not support item assignment

Both tuples and lists can be used for doing multiple assignment at once:

In [28]:
a, b = (1, 2)
print(a, b)

1 2

### Sets

Sets are a way to represent a set of objects, without repetition.

In [39]:
s = {1, 2, 3, 3}
print(s)
l = [1,2,3]
s = set(l)
print(s)

{1, 2, 3}
{1, 2, 3}

To test whether an element is contained in the set, `Python` provides the keyword `in`

In [30]:
print(1 in s)
print(0 in s)

True
False

We can also add and remove elements from a set.

In [38]:
s = {1, 2, 3}
print(s)
s.add(4)
print(s)
s.remove(2)
print(s)

{1, 2, 3}
{1, 2, 3, 4}
{1, 3, 4}

It is also possible to compute the union and intersection of sets.

In [42]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1, s2)
print(s1.union(s2))
print(s1.intersection(s2))

{1, 2, 3} {2, 3, 4}
{1, 2, 3, 4}
{2, 3}

### Dictionaries

Dictionaries represents mapping from values to other values. Order of the element adding sequence is not remember because the internal implementation of a dictionary is a hash table.

In [56]:
specie_to_legs = {'human': 2, 'dog': 4, 'cat': 4, 'spider': 8, 'centipede': 100}
print(specie_to_legs)
number_to_word = {1: 'one', 2: 'two', 3: 'three', 4: 'four'}
print(number_to_word)

{'dog': 4, 'centipede': 100, 'human': 2, 'cat': 4, 'spider': 8}
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

We can list the keys and the values of a dictionary using the `keys` and `values` methods.

In [48]:
print(number_to_word.keys())
print(number_to_word.values())

dict_keys([1, 2, 3, 4])
dict_values(['one', 'two', 'three', 'four'])

As it was the case with sets, we can test whether an element is a key in the dictionary or not using the keyword `in`.

In [51]:
print(3 in number_to_word)
print(5 in number_to_word)
print('two' in number_to_word)

True
False
False

It is possible to access to the value associated to a key using the `[]` syntax.

In [53]:
print(number_to_word)
print(number_to_word[1])
print(number_to_word[4])

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
one
four

We can add new values or overwrite existing ones using the same syntax.

In [57]:
print(number_to_word)
number_to_word[5] = 'five'
print(number_to_word)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

## Indentation

`Python` use space characters to represent blocks